@import "./variables";

// styling the card
.card__outerheading {
    font-size: 24px;
    font-weight: 600;
    grid-column: 2/7;
    grid-row: 2/3;
    text-align: center;
    margin-left: 26px;
    margin-right: 242px;
    margin-top: 50px;
    color: #3A2E74;
}

// placing the card element according to grid system
.card__outer {
        grid-column: 3/5;
        grid-row: 4/9;
        background-color: white;
        border-radius: 15px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        margin-top: 50px;
        box-shadow: 2px 2px 4px rgba(0,0,0,0.2),
        -2px -2px 4px rgba(0,0,0,0.2);


        .card__heading {
            text-align: center;
            color: $textcolor;
            font-size: 20px;
            font-weight: 500;
            
        }
        
        form div {
            display: block;
            padding: 25px 0;
        }

        .card__label {
            color: $textcolor;
            font-size: 12px;
            margin-left: 12px;
        }

        input {
            background-color: $inputfieldcolor;
            width: 379px;
            height: 45px;
            border-radius: 8px;
            border: 0;
            margin-left: 10px;
            font-size: 16px;
           
        }

        .card__button{
            background-color: #5F0AFF ;
            color: white;
            border-radius: 8px;
            width: 130px;
            height: 37px;
            text-align: center;
            margin-left: 135px;
            border: 0;

        }
}


